In [1]:
#import libraries:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [24]:
#read dataset
df_2020 = pd.read_csv("diem_thi_thpt_2022.csv")
df_2021 = pd.read_csv("diem_thi_thpt_2022.csv")
df_2023 = pd.read_csv("diem_thi_thpt_2023.csv")
df_2022 = pd.read_csv("diem_thi_thpt_2022.csv")
df_2024 = pd.read_csv("diem_thi_thpt_2024.csv")

In [25]:
df_2020.head()

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.0,8.75
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.5,8.25
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.5,8.75
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.5,7.50
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.5,8.25

In [26]:
df_2021.head()

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.0,8.75
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.5,8.25
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.5,8.75
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.5,7.50
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.5,8.25

In [27]:
df_2022.head()

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.0,8.75
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.5,8.25
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.5,8.75
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.5,7.50
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.5,8.25

In [28]:
df_2023.head()

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd,ma_ngoai_ngu
0,1000001,8.4,8.50,9.2,NaN,NaN,NaN,6.75,6.00,9.00,N1
1,1000002,7.2,8.50,9.2,NaN,NaN,NaN,8.75,6.50,8.50,N1
2,1000003,NaN,6.50,NaN,NaN,NaN,NaN,9.25,7.50,NaN,NaN
3,1000004,7.8,8.25,7.8,NaN,NaN,NaN,4.50,6.25,8.25,N1
4,1000005,7.2,8.00,7.8,NaN,NaN,NaN,4.75,6.75,8.25,N1

In [29]:
df_2024.head()

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd,ma_ngoai_ngu
0,1000001,8.4,6.75,8.0,6.0,5.25,5.0,NaN,NaN,NaN,N1
1,1000002,8.6,8.50,7.2,NaN,NaN,NaN,7.25,6.00,8.00,N1
2,1000003,8.2,8.75,8.2,NaN,NaN,NaN,7.25,7.25,8.75,N1
3,1000004,4.8,8.50,7.4,NaN,NaN,NaN,7.00,6.00,7.50,N1
4,1000005,8.6,9.00,7.8,NaN,NaN,NaN,9.00,8.75,8.50,N1

In [30]:
rows_2020, columns_2020 = df_2020.shape

In [31]:
rows_2021, columns_2021 = df_2021.shape

In [32]:
rows_2022, columns_2022 = df_2022.shape

In [33]:
rows_2023, columns_2023 = df_2023.shape

In [34]:
rows_2024, columns_2024 = df_2024.shape

In [35]:
df_2020.describe()

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd
count,9.954410e+05,982726.000000,981407.000000,870609.000000,325523.000000,327367.000000,322198.000000,659662.000000,657421.000000,554343.000000
mean,2.759692e+07,6.466254,6.507746,5.157686,6.723779,6.703898,5.019109,6.343930,6.677929,8.033266
std,1.917092e+07,1.675435,1.379602,1.949547,1.441925,1.600393,1.448270,1.612879,1.215013,1.067272
min,1.000001e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000217e+07,5.400000,5.580000,3.600000,5.750000,5.500000,4.000000,5.250000,5.750000,7.500000
50%,2.801886e+07,6.800000,6.500000,4.800000,7.000000,7.000000,4.750000,6.500000,6.750000,8.250000
75%,4.400582e+07,7.800000,7.500000,6.600000,7.750000,8.000000,6.000000,7.500000,7.500000,8.750000
max,6.400659e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [37]:
# Merge all dataframes

df = pd.concat([df_2020, df_2021, df_2022, df_2023, df_2024], ignore_index=True)
df.head(100)

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd,ma_ngoai_ngu
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.00,8.75,NaN
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.50,8.25,NaN
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.50,8.75,NaN
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.50,7.50,NaN
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.50,8.25,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95,1000099,7.6,8.00,9.2,NaN,NaN,NaN,5.00,8.50,8.00,NaN
96,1000100,3.8,5.50,5.6,NaN,NaN,NaN,5.50,4.25,7.75,NaN
97,1000101,8.2,6.50,7.6,5.25,7.25,3.25,NaN,NaN,NaN,NaN
98,1000102,8.8,7.25,9.0,4.75,8.00,8.00,NaN,NaN,NaN,NaN
99,1000103,8.4,8.50,7.0,8.50,8.75,6.50,NaN,NaN,NaN,NaN

In [15]:
df.describe()

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd
count,5.069988e+06,4.997164e+06,5.002561e+06,4.405529e+06,1.649373e+06,1.656737e+06,1.633597e+06,3.368647e+06,3.359079e+06,2.812090e+06
mean,2.753211e+07,6.418981e+00,6.730228e+00,5.294087e+00,6.682122e+00,6.707143e+00,5.557629e+00,6.326817e+00,6.678386e+00,8.109623e+00
std,1.917305e+07,1.645030e+00,1.389692e+00,1.945939e+00,1.493473e+00,1.576833e+00,1.508895e+00,1.580225e+00,1.266053e+00,1.081493e+00
min,1.000001e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000102e+07,5.400000e+00,5.750000e+00,3.800000e+00,5.750000e+00,5.750000e+00,4.500000e+00,5.250000e+00,5.750000e+00,7.500000e+00
50%,2.801601e+07,6.800000e+00,6.750000e+00,5.000000e+00,7.000000e+00,7.000000e+00,5.500000e+00,6.500000e+00,6.750000e+00,8.250000e+00
75%,4.400572e+07,7.800000e+00,7.750000e+00,6.800000e+00,7.750000e+00,8.000000e+00,6.750000e+00,7.500000e+00,7.500000e+00,9.000000e+00
max,6.400729e+07,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01

In [16]:
df.sample(60)

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd,ma_ngoai_ngu
2044431,1053931,7.6,6.75,7.6,4.75,3.25,3.50,NaN,NaN,NaN,NaN
2000338,1009556,2.0,7.75,NaN,NaN,NaN,NaN,5.00,5.50,NaN,NaN
2010546,1019863,7.4,7.25,6.0,NaN,NaN,NaN,4.75,6.75,7.50,NaN
291083,14008633,5.2,5.75,3.6,NaN,NaN,NaN,4.75,6.25,8.50,NaN
1835781,50011778,4.4,6.00,NaN,NaN,NaN,NaN,5.00,6.75,NaN,NaN
2014493,1023839,7.2,6.00,2.4,NaN,NaN,NaN,6.50,5.00,NaN,NaN
923127,56006689,7.4,5.75,4.2,NaN,NaN,NaN,6.75,7.00,8.25,NaN
4563931,28032805,7.4,9.00,7.6,NaN,NaN,NaN,6.50,7.50,8.50,N1
2626925,36002623,7.6,6.75,4.0,NaN,NaN,NaN,7.75,8.25,9.50,NaN
3213659,5004535,2.4,4.50,4.4,NaN,NaN,NaN,2.75,3.25,3.50,N1
463751,26015504,7.8,7.50,8.2,NaN,NaN,NaN,7.00,6.25,9.00,NaN
4928699,51017880,5.6,9.00,5.2,NaN,NaN,NaN,7.50,8.00,9.25,N1
1271123,13001237,8.0,8.75,4.4,5.00,7.25,7.00,NaN,NaN,NaN,NaN
2505069,28035420,4.2,6.00,2.2,NaN,NaN,NaN,5.25,5.25,5.25,NaN
4233973,4004925,8.4,5.75,3.4,8.75,9.00,5.00,NaN,NaN,NaN,N1
3508679,28026907,3.8,7.25,2.0,NaN,NaN,NaN,3.50,4.75,7.50,N1
1943923,58009435,3.4,3.00,2.6,NaN,NaN,NaN,5.25,7.25,7.50,NaN
4574049,29004233,NaN,8.00,NaN,NaN,NaN,NaN,8.00,8.00,NaN,NaN
2848656,51014156,7.6,6.75,4.0,8.25,8.50,4.50,NaN,NaN,NaN,NaN
989275,64000384,7.8,8.25,4.6,NaN,NaN,NaN,6.75,6.75,8.50,NaN
3927783,55010419,7.4,8.00,5.0,NaN,NaN,NaN,7.50,5.75,8.25,N6
2203225,4008494,8.4,8.25,8.6,NaN,NaN,NaN,5.50,5.75,8.00,NaN
2728325,43007402,5.0,7.25,4.6,NaN,NaN,NaN,9.00,8.50,8.75,NaN
704080,41002140,7.4,6.75,5.0,8.00,8.25,5.50,NaN,NaN,NaN,NaN
580531,31010223,6.2,7.75,5.0,NaN,NaN,NaN,5.50,5.50,8.25,NaN
1296366,15007131,5.8,8.00,4.2,NaN,NaN,NaN,6.75,6.75,9.25,NaN
3398699,22004037,5.8,6.00,3.8,NaN,NaN,NaN,4.00,4.25,7.00,N1
4150461,2034256,5.2,6.75,5.8,NaN,NaN,NaN,6.75,7.75,8.50,N1
2745412,45000956,6.4,5.50,3.4,NaN,NaN,NaN,4.75,6.75,7.00,NaN
3811273,48021143,5.8,6.00,4.0,NaN,NaN,NaN,5.50,4.75,8.25,N1
2506941,28037302,8.2,6.75,4.2,6.25,8.00,7.75,NaN,NaN,NaN,NaN
1193980,3017076,7.6,9.00,5.6,NaN,NaN,NaN,8.25,6.75,8.00,NaN
2683514,40011074,8.6,5.00,6.4,8.50,8.75,4.00,NaN,NaN,NaN,NaN
1249259,10007164,5.4,7.00,4.8,NaN,NaN,NaN,7.75,7.50,9.75,NaN
3489524,28007752,7.8,9.00,NaN,NaN,NaN,NaN,9.25,9.00,9.75,NaN
4683708,35010534,8.2,6.75,5.2,6.50,8.25,6.25,NaN,NaN,NaN,N1
618799,34015464,8.2,8.50,9.0,NaN,NaN,NaN,7.00,7.00,8.25,NaN
3607783,34002786,3.8,4.50,3.2,NaN,NaN,NaN,7.00,5.00,8.25,N1
4388181,18011440,8.4,9.50,8.2,7.75,7.75,8.25,NaN,NaN,NaN,N1
1337413,18002845,8.2,7.00,4.0,7.00,5.75,4.75,NaN,NaN,NaN,NaN
2342064,18012085,7.4,7.00,3.2,NaN,NaN,NaN,6.50,7.00,8.50,NaN
2828220,50008768,7.6,7.25,7.4,6.75,6.75,6.25,NaN,NaN,NaN,NaN
1816256,49007541,6.6,5.33,5.8,5.75,5.50,4.50,NaN,NaN,NaN,NaN
758141,45004587,5.6,5.75,6.0,NaN,NaN,NaN,7.00,5.75,8.25,NaN
2943475,59004087,5.2,6.75,3.6,NaN,NaN,NaN,6.00,5.75,7.75,NaN
820486,49007212,8.8,5.75,8.4,6.00,8.50,7.00,NaN,NaN,NaN,NaN
2940751,59001348,2.8,7.00,NaN,NaN,NaN,NaN,2.75,6.00,NaN,NaN
1917977,56006097,7.0,7.00,NaN,NaN,NaN,NaN,8.25,8.75,NaN,NaN
1643981,37010419,8.0,5.75,5.2,7.00,5.75,4.75,NaN,NaN,NaN,NaN
3439338,25009965,7.0,7.75,4.2,NaN,NaN,NaN,7.25,7.25,9.25,N1
603578,34000177,6.4,6.25,4.2,NaN,NaN,NaN,5.75,6.00,6.25,NaN
2945934,59006548,8.2,5.00,4.4,NaN,NaN,NaN,7.50,8.50,8.25,NaN
2192404,3020066,9.4,9.00,8.6,9.00,8.00,6.50,NaN,NaN,NaN,NaN
2026748,1036162,7.6,8.00,6.6,NaN,NaN,NaN,6.75,4.75,7.75,NaN
3612674,34007677,7.4,4.50,3.6,7.00,5.50,6.25,NaN,NaN,NaN,N1
1951817,59007872,6.0,7.25,2.8,4.75,3.50,4.25,NaN,NaN,NaN,NaN
2663361,39001756,7.6,8.50,6.8,7.75,7.25,6.25,NaN,NaN,NaN,NaN
1572093,31006324,3.0,2.75,2.8,NaN,NaN,NaN,5.50,6.75,7.00,NaN
1760566,46005693,5.6,5.50,2.8,NaN,NaN,NaN,5.75,6.75,5.50,NaN
1949403,59005457,4.2,6.00,4.6,NaN,NaN,NaN,3.75,5.75,5.75,NaN

In [ ]:
# Visualize average scores of each subject every year

df['average'] = df[['toan', 'vat_li', 'hoa_hoc', 'sinh_hoc', 'ngoai_ngu', 'ngu_van', 'lich_su', 'dia_li', 'gdcd']].mean(axis=1)
df.head()

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd,ma_ngoai_ngu,average
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.0,8.75,NaN,5.016667
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.5,8.25,NaN,7.833333
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.5,8.75,NaN,6.633333
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.5,7.50,NaN,7.500000
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.5,8.25,NaN,8.241667

In [ ]:
# Visualize average score by subject (dont count 0 values)