# Tips thi giua ki

In [31]:
import pandas as pd
import seaborn as sb

df = pd.read_excel('./Customer Call List.xlsx')
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

In [32]:
# Xu li van de du lieu bi thieu trong Do_Not_Contact

df['Do_Not_Contact'] = df['Do_Not_Contact'].fillna('No')
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,No,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

In [33]:
# Chuan hoa du lieu ve Yes/No thay vi Y N, con missing value thi chuyen ve Default la no

df['Do_Not_Contact'] = df['Do_Not_Contact'].apply(lambda x: 'Yes' if x == 'Y' else 'No')
df['Paying Customer'] = df['Paying Customer'].apply(lambda x: 'Yes' if x == 'Y' else 'No')
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",No,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,No,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",No,Yes,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Yes,No,True

In [34]:
# Chuan hoa du lieu so dien thoai thanh cac dang chu so lien tuc

# Convert to string
df['Phone_Number'] = df['Phone_Number'].astype(str)
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: ''.join([i for i in x if i.isdigit()]))
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",No,No,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,No,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",No,Yes,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Yes,No,True

In [35]:
# Xu li cac ki tu khong hop le trong Name

df['First_Name'] = df['First_Name'].astype(str)
df['Last_Name'] = df['Last_Name'].astype(str)


df['First_Name'] = df['First_Name'].apply(lambda x: ''.join([i for i in x if i.isalpha() or i == ' ']))
df['Last_Name'] = df['Last_Name'].apply(lambda x: ''.join([i for i in x if i.isalpha() or i == ' ']))
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",No,No,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,No,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,No,No,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",No,Yes,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Yes,No,True

In [36]:
# Merge First_Name va Last_Name thanh FullName

df['Full_Name'] = df['First_Name'] + ' ' + df['Last_Name']

# Xoa cot First_Name va Last_Name
df = df.drop(['First_Name', 'Last_Name'], axis=1)
df.head()

,CustomerID,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name
0,1001,1235455421,"123 Shire Lane, Shire",No,No,True,Frodo Baggins
1,1002,1236439775,93 West Main Street,No,No,False,Abed Nadir
2,1003,7066950392,298 Drugs Driveway,No,No,True,Walter White
3,1004,1235432345,"980 Paper Avenue, Pennsylvania, 18503",No,Yes,True,Dwight Schrute
4,1005,8766783469,123 Dragons Road,Yes,No,True,Jon Snow