# Real-world Data Wrangling

##### Fullname: Đinh Việt Phương

##### ID: 21IT507

##### Class: 21KIT

## 1. Gather data

### **1.1.** Problem Statement

This project aims to practice my skills of data wrangling using real-world datasets.

Your statements here

In this dataset, I would like to answer the following research questions:

Question 1: Loại phòng được đặt nhiều nhất

Question 2: giá cao nhất

Question 3: có bao nhiêu loại phòng khác nhau

### **1.2.** Gather at least two datasets using two different data gathering methods

Gather each of the 2 pieces of data from different sources:

In [ ]:
# import libraries:
import pandas as pd
import numpy as np

In [ ]:
#FILL IN 1st data gathering and loading method
df1 = pd.read_csv(r"C:\Users\dinhv\Downloads\listing.csv")
df2 = pd.read_csv(r"C:\Users\dinhv\Downloads\reviews.csv")

In [ ]:
df1.head()

,id,name,summary,space,description,host_id,host_name,neighbourhood_group_cleansed,city,country_code,...,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price
0,241032,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,956883,Maija,Queen Anne,Seattle,US,...,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$85.00
1,953595,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,5177328,Andrea,Queen Anne,Seattle,US,...,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",NaN,$150.00
2,3308979,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,16708587,Jill,Queen Anne,Seattle,US,...,House,Entire home/apt,11,4.5,5.0,7.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$975.00
3,7421966,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,9851441,Emily,Queen Anne,Seattle,US,...,Apartment,Entire home/apt,3,1.0,0.0,2.0,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Indoor ...",NaN,$100.00
4,278830,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,1452570,Emily,Queen Anne,Seattle,US,...,House,Entire home/apt,6,2.0,3.0,3.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",NaN,$450.00

In [ ]:
# Write data to local file
df2.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,7/19/2015,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,7/20/2015,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,7/26/2015,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,8/2/2015,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,8/10/2015,34959538,Ming,Kelly was a great host and very accommodating ...

## Exploring data set

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            3818 non-null   int64
 1   name                          3818 non-null   object
 2   summary                       3641 non-null   object
 3   space                         3249 non-null   object
 4   description                   3818 non-null   object
 5   host_id                       3818 non-null   int64
 6   host_name                     3816 non-null   object
 7   neighbourhood_group_cleansed  3818 non-null   object
 8   city                          3818 non-null   object
 9   country_code                  3818 non-null   object
 10  country                       3818 non-null   object
 11  property_type                 3817 non-null   object
 12  room_type                     3818 non-null   object
 13  accommodates                  3818 non-null   int64
 14  bathrooms                     3802 non-null   float64
 15  bedrooms                      3812 non-null   float64
 16  beds                          3817 non-null   float64
 17  bed_type                      3818 non-null   object
 18  amenities                     3818 non-null   object
 19  square_feet                   97 non-null     float64
 20  price                         3818 non-null   object
dtypes: float64(4), int64(3), object(14)
memory usage: 626.5+ KB

In [ ]:
df1.describe()

,id,host_id,accommodates,bathrooms,bedrooms,beds,square_feet
count,3.818000e+03,3.818000e+03,3818.000000,3802.000000,3812.000000,3817.000000,97.000000
mean,5.550111e+06,1.578556e+07,3.349398,1.259469,1.307712,1.735394,854.618557
std,2.962660e+06,1.458382e+07,1.977599,0.590369,0.883395,1.139480,671.404893
min,3.335000e+03,4.193000e+03,1.000000,0.000000,0.000000,1.000000,0.000000
25%,3.258256e+06,3.275204e+06,2.000000,1.000000,1.000000,1.000000,420.000000
50%,6.118244e+06,1.055814e+07,3.000000,1.000000,1.000000,1.000000,750.000000
75%,8.035127e+06,2.590309e+07,4.000000,1.000000,2.000000,2.000000,1200.000000
max,1.034016e+07,5.320861e+07,16.000000,8.000000,7.000000,15.000000,3000.000000

In [ ]:
# Dataset phong
#Fiil in 1: xử lý các giá trị null
# Fill in 2: xóa các cột không cần thiết
# fill in 3: xóa các cột duplipcate
# fill in 4: xử lý giá trị out data của cột beds bằng giá trị trung bình

## 2. Assess data

I will assess the data both visually and programmatically to identify any data quality(content) issues and tidiness(structual) issues.

### Quality Issue 1:

In [ ]:
#FILL IN - xử lý các giá trị null
df1.isnull().sum()

id                                 0
name                               0
summary                          177
space                            569
description                        0
host_id                            0
host_name                          2
neighbourhood_group_cleansed       0
city                               0
country_code                       0
country                            0
property_type                      1
room_type                          0
accommodates                       0
bathrooms                         16
bedrooms                           6
beds                               1
bed_type                           0
amenities                          0
square_feet                     3721
price                              0
dtype: int64

In [ ]:
# xóa cột chứa giá trị null
df1.drop(['square_feet'], axis=1, inplace=True)

In [ ]:
#drop na
df1.dropna(inplace=True)

In [ ]:
df1.isnull().sum()

id                              0
name                            0
summary                         0
space                           0
description                     0
host_id                         0
host_name                       0
neighbourhood_group_cleansed    0
city                            0
country_code                    0
country                         0
property_type                   0
room_type                       0
accommodates                    0
bathrooms                       0
bedrooms                        0
beds                            0
bed_type                        0
amenities                       0
price                           0
dtype: int64

In [ ]:
#FILL IN 2: xử lý các cột không cần thiết của 2 data
df1.drop(['name'], axis=1, inplace=True)

In [ ]:
#FILL IN 3: xử lý các cột trùng lặp
duplicate_rows = df1[df1.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [id, summary, space, description, host_id, host_name, neighbourhood_group_cleansed, city, country_code, country, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, price]
Index: []

In [ ]:
## không có cột trùng lặp nào

In [ ]:
# xử lý out data
df1['beds'].max()

15.0

In [ ]:
mean_value = df1['beds'].mean()

# Thay thế các giá trị lớn nhất trong cột 'beds' bằng giá trị trung bình
max_value = df1['beds'].max()
df1['beds'] = df1['beds'].replace(max_value, mean_value)

In [ ]:

df1['beds'].max()

10.0

In [ ]:
# Câu hỏi 1: Loại phòng được đặt nhiều nhất
most_booked_room_type = df1['room_type'].value_counts().idxmax()
print("Loại phòng được đặt nhiều nhất là:", most_booked_room_type)

Loại phòng được đặt nhiều nhất là: Entire home/apt

In [ ]:
# Câu hỏi 2: Giá cao nhất
max_price = df1['price'].max()
print("Giá cao nhất là:", max_price)

Giá cao nhất là: $999.00

In [ ]:
# Câu hỏi 3: Số loại phòng khác nhau
num_unique_room_types = df1['room_type'].nunique()
print("Số loại phòng khác nhau là:", num_unique_room_types)

Số loại phòng khác nhau là: 3

## Merge 2 dataset if needed

In [ ]:
#merge 2data
df_merge = pd.merge(
    left=df1,
    right=df2,
    how='inner',
    left_on=['id'],
    right_on=['listing_id']
)
# luu du lieu
df_merge.to_csv(r'C:\Users\dinhv\Downloads\merged_data.csv', index=False)

In [ ]:
df_merge.head(2)

,id_x,summary,space,description,host_id,host_name,neighbourhood_group_cleansed,city,country_code,country,...,beds,bed_type,amenities,price,listing_id,id_y,date,reviewer_id,reviewer_name,comments
0,953595,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,5177328,Andrea,Queen Anne,Seattle,US,United States,...,1.0,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$150.00,953595,6643648,8/19/2013,7323285,Cherry,The reservation was canceled 33 days before ar...
1,953595,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,5177328,Andrea,Queen Anne,Seattle,US,United States,...,1.0,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$150.00,953595,6643745,8/19/2013,7557645,Georgianne,The reservation was canceled 38 days before ar...

## PROJECT 1 STOP HERE



## PROJECT 2

## 5. Answer the research question

### **5.1:** Define and answer the research question

* Question 1:

In [ ]:
#Visual 1 - FILL IN

Justifications

 Question 2:

In [ ]:
#Visual 2 - FILL IN

Justifications

Question n:

Justifications

### **5.2:** Reflection

After all steps above, I have the clean datasets and answer the research questions.
By using research questions, We can know the number infected cases in states, the death rate and the anomaly data.

In the future, I will look into the anomaly of the death and I will calculate the number of increasing or decreasing infected cases.
Further more, I will check the data in some columns such

#### SUBMISSION

After completion, export the notebook as an HTML file for the project submission using the File > Download as... > HTML or PDF menu option.

Submit file “my_Project.zip” to Final Project includes:

    1. my_Project.html
    2. my _Project.ipynb